{% extends 'app/_base.html.twig' %}

{% block title %}Liste des participants{% endblock %}

{% block body_content %}

    <div class="page-title"> <i class="icon-custom-left"></i>
        <h3><span class="semi-bold">Accueil</span></h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-title no-border">
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                </div>
                    <div class="grid-body no-border">
                        <h3>Liste des  <span class="semi-bold">inscrits</span></h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group transparent">
                                    <form
                                            id="search-form"
                                            action="{{ path('app_list_participants') }}"
                                            method="get"
                                            data-controller="search"
                                            data-turbo-frame="turbo-participants-list"
                                            data-turbo-action="advance"
                                            data-action="input->search#submit"
                                    >
                                        <input
                                                type="hidden"
                                                name="page" value="{{ page }}"
                                                data-search-target="page"
                                        />
                                        <input
                                                type="text"
                                                class="form-control"
                                                placeholder="Rechercher un participant"
                                                name="term" value="{{ term }}"
                                                {#data-search-target="query"
                                                data-action="keyup->search#search"#}
                                        >
                                    </form>
                                </div>
                            </div>
                        </div>
                        {# Search bar #}
                        <turbo-frame id="turbo-participants-list">
                            <table class="table no-more-tables table-hover">
                                <thead>
                                <tr>
                                    <th style="width:16%">Nom & Prénoms</th>
                                    <th style="width:14%">Email</th>
                                    <th style="width:14%">Genre</th>
                                    <th style="width:14%">Entreprise</th>
                                    <th style="width:14%">Date d'inscription</th>
                                    <th style="width:14%">Consulter</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for p in participants %}
                                    <tr>
                                        <td class="v-align-middle">
                                            {{ p.NomPrenoms }}
                                        </td>
                                        <td class="v-align-middle">
                                            <span class="muted">
                                            {{ p.email }}
                                            </span>
                                        </td>
                                        <td>
                                            <span class="muted">
                                                {{ p.sexe }}
                                            </span>
                                        </td>
                                        <td><span class="muted">
                                            <span class="muted">
                                                {{ p.entreprise }}
                                            </span>
                                            </span>
                                        </td>
                                        <td><span class="muted">
                                            <span class="muted">
                                                {{ p.createdAt | date('d/m/Y H:i:s') }}
                                            </span>
                                            </span>
                                        </td>
                                        <td><span class="muted" data-controller="hello">
                                                <button
                                                        type="button"
                                                        class="btn btn-success btn-cons"
                                                        data-toggle="modal"
                                                        data-target="#myModal"
                                                        data-id="{{ p.id }}"
                                                        data-hello-target="source"
                                                        data-action="click->hello#greet"
                                                >
                                                    Consulter
                                                </button>
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- Pagination and number of result with next and prev button , scratch html -->
                                    <ul class="pagination pagination-sm">
                                        <li class="{{ is_previous_page }}">
                                            <a href="{{ is_previous_page ? '#' : path('app_list_participants', {'page': previous_page, 'term': term ? term : ''}) }}">&laquo;</a>
                                        </li>
                                        {% for i in pages %}
                                            <li class="{{ i == page ? 'active' : '' }}">
                                                {# path('app_list_participants') with page query parameter #}
                                                <a href="{{ i == page ? '#' : path('app_list_participants', {'page': i, 'term': term ? term : ''}) }}">{{ i }}</a>
                                            </li>
                                        {% endfor %}

                                        <li class="{{ is_next_page }}">
                                            <a href="{{ is_next_page ? '#' : path('app_list_participants', {'page': next_page, 'term': term ? term : ''}) }}">&raquo;</a>
                                        </li>
                                    </ul>
                                    {#Display Nombre de pages#}
                                    <span class="label label-success">Nombre de pages : {{ max_page_number }}</span>
                                </div>
                            </div>
                        </turbo-frame>
                    </div>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 id="" class="semi-bold">
                                    Informations sur le participant.
                                </h4>
                            </div>
                            <div class="modal-body">
                                <img id="qr_code" src="" alt="QR Code" class="img-responsive" style="width: 250px; height: auto;"/>
                                {# Libelle suivi de la valeur, label en gras #}
                                {# Noms & Prenoms #}
                                <h4>
                                    <span class="semi-bold">Noms & Prénoms : </span>
                                    <span id="nom_prenoms"></span>
                                </h4>
                                {# Indicatif téléphonique #}
                                <h4>
                                    <span class="semi-bold">Indicatif téléphonique : </span>
                                    <span id="indicatif_telephonique"></span>
                                </h4>
                                {# Numéro de téléphone #}
                                <h4>
                                    <span class="semi-bold">Numéro de téléphone : </span>
                                    <span id="numero_telephone"></span>
                                </h4>
                                {# Genre #}
                                <h4>
                                    <span class="semi-bold">Genre : </span>
                                    <span id="genre"></span>
                                </h4>
                                {# Fonction #}
                                <h4>
                                    <span class="semi-bold">Fonction : </span>
                                    <span id="fonction"></span>
                                </h4>
                                {# Entreprise #}
                                <h4>
                                    <span class="semi-bold">Entreprise : </span>
                                    <span id="entreprise"></span>
                                </h4>
                                {# Ville #}
                                <h4>
                                    <span class="semi-bold">Ville : </span>
                                    <span id="ville"></span>
                                </h4>
                                {# Pays #}
                                <h4>
                                    <span class="semi-bold">Pays : </span>
                                    <span id="pays"></span>
                                </h4>
                                {# Inscrit le #}
                                <h4>
                                    <span class="semi-bold">Inscrit le : </span>
                                    <span id="inscrit_le"></span>
                                </h4>
                                <div id="scanned_div"></div>
                            </div>
                            <div class="modal-footer" data-controller="participantmodal">
                                <button type="button" id="modal_close_btn" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                <button
                                        id="scan_btn"
                                        type="button"
                                        class="btn btn-primary"
                                        data-action="click->participantmodal#scanParticipant"
                                >
                                    Confirmer le scan
                                </button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}
