{% extends 'app/_base.html.twig' %}

{% block title %}Liste des participants{% endblock %}

{% block body_content %}

    <div class="page-title"> <i class="icon-custom-left"></i>
        <h3><span class="semi-bold">Accueil</span></h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-title no-border">
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                </div>
                <turbo-frame id="turbo-participants-list">
                    <div class="grid-body no-border">
                        <h3><span class="semi-bold">Informations</span></h3>
                        <hr>
                        {# Noms & Prenoms #}
                        <h4>
                            <span class="semi-bold">Noms & Prénoms : </span>
                            <span id="nom_prenoms">
                                {{ participant.nomPrenoms }}
                            </span>
                        </h4>
                        {# Indicatif téléphonique #}
                        <h4>
                            <span class="semi-bold">Indicatif téléphonique : </span>
                            <span id="indicatif_telephonique">
                                {{ participant.indicatifTelephonique }}
                            </span>
                        </h4>
                        {# Numéro de téléphone #}
                        <h4>
                            <span class="semi-bold">Numéro de téléphone : </span>
                            <span id="numero_telephone">
                                {{ participant.numero }}
                            </span>
                        </h4>
                        {# Genre #}
                        <h4>
                            <span class="semi-bold">Genre : </span>
                            <span id="genre">
                                {{ participant.sexe }}
                            </span>
                        </h4>
                        {# Fonction #}
                        <h4>
                            <span class="semi-bold">Fonction : </span>
                            <span id="fonction">
                                {{ participant.profession }}
                            </span>
                        </h4>
                        {# Entreprise #}
                        <h4>
                            <span class="semi-bold">Entreprise : </span>
                            <span id="entreprise">
                                {{ participant.entreprise }}
                            </span>
                        </h4>
                        {# Ville #}
                        <h4>
                            <span class="semi-bold">Ville : </span>
                            <span id="ville">
                                {{ participant.ville }}
                            </span>
                        </h4>
                        {# Pays #}
                        <h4>
                            <span class="semi-bold">Pays : </span>
                            <span id="pays">
                                {{ participant.pays }}
                            </span>
                        </h4>
                        {# Inscrit le #}
                        <h4>
                            <span class="semi-bold">Inscrit le : </span>
                            <span id="inscrit_le">
                                {{ participant.createdAt|date('d/m/Y') }}
                            </span>
                        </h4>

                        {% if participant.scannedAt is not null %}
                            <span class="label label-success">Scanné le {{ participant.scannedAt|date('d/m/Y') }}</span>
                        {% else %}
                            <span class="label label-danger">Non scanné</span>
                        {% endif %}

                        <hr>
                        <a href="{{ path('app_scanner') }}">
                            <button class="btn btn-block btn-success" type="button">
                                Retour au scan
                            </button>
                        </a>
                    </div>
                </turbo-frame>
            </div>
        </div>
    </div>

{% endblock %}
